td {
    width: 129.5px;
    height: 129.5px;
    background-color: #52b9b1;
}

.date-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.day-number {
    text-align: center;
    background-color: grey;
}

.week-name {
    text-align: center;
    height: 25px;
}
table{
    margin: 0 auto;
}

#popup {
    width:300px;
    height:300px;
    padding:20px;
    border:2px solid white;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.3);
    border-radius:3px;
    -webkit-border-radius:3px;
    position:absolute;
    z-index: 1;
    background: #727b85;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.view-switch{
    width: 935px;
    margin: 0 auto;
    text-align: center;
    background-color: #957373;
}

.view-switch button {
    color: #2f302f;
}