<div *ngIf="dataReady">
  <app-calendar-header-month [dateInfo]="childData" (yearChanged)="yearChanged($event)"
                              (monthChanged)="monthChanged($event)" (searchInputed)="searchInputed()">
  </app-calendar-header-month>
  <div class="view-switch">
    <button (click)="viewChanged(true)">Month</button>
    <button (click)="viewChanged(false)">Week</button>
  </div>
  <table>
    <tr>
      <td class="week-name" *ngFor="let weekName of weekNames">{{ weekName }}</td>
    </tr>
    <tr *ngFor="let raw of daysObject">
      <td *ngFor="let day of raw">
        <div class="date-container">
          <div class="day-number">{{ day.dayNumber }}</div>
          <div *ngFor="let event of day.events; let i = index" class="event-container">
            <div class="event-item" [dataBind]="event" (mouseleave)="eventUnHovered()"
                        [index]="i" (mouseenter)="eventHovered($event)">
              <div class="event-title">
                {{event.title}}
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>

  <div id="popup" *ngIf="popupData" [ngStyle]="{'top': popupData.top, 'left':popupData.left, 'display': popupDisplay}">
    <div class="event-title">{{ popupData.title }}</div>
    <div class="event-date">{{ popupData.date }}</div>
    <div class="event-location">{{ popupData.location }}</div>
    <div class="event-description">{{ popupData.description }}</div>
  </div>
</div>