<div class="calendar-header">
  <div class="previus">
    <button (click)="changeWeek('prev')">
				<span>&lt;</span>
				<span class="month-name">{{weekInfo.leftWeekName }}</span>
		</button>
  </div>
  <div class="current-month">
    <div class="search">
      <input type="text" placeholder="search" #searchText (keyup.enter)="search(searchText.value)" [(ngModel)]="calendarService.searchText">
      <input type="submit" value="search" (click)="search(searchText.value)">
    </div>
    <div class="month-number">
      <div class="flex-center">
        <button (click)="changeYear('prev')">&lt;</button> &nbsp;
        <span>{{weekInfo.year}}</span>&nbsp;
        <button (click)="changeYear('next')">&gt;</button>
      </div>
      <div class="current-name">{{weekInfo.lastSundayName}}-{{weekInfo.saturdayName}}</div>
    </div>
  </div>
  <div class="next">
    <button (click)="changeWeek('next')">
				<span class="month-name">{{ weekInfo.rightWeekName}}</span>
				<span>&gt;</span>
			</button>
  </div>
</div>
