body {
	padding: 0px;
    margin: 0px;
}

.previus {
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-right: 1px solid #999292;
	box-sizing: border-box;
	padding-left: 10px;
}

.next {
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	box-sizing: border-box;
	padding-right: 10px;
}

.current-month {
	width: 60%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column-reverse;
	justify-content: space-around;
	border-right: 1px solid #999292;
	padding: 0px 10px 0 10px;
	box-sizing: border-box;
}

.calendar-header {
	background-color: #946a89;
	display: flex;
	align-items: space-between;
	width: 935px;
	height: 125px;
    margin: 0 auto;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	box-sizing: border-box;
}

.calendar-header a {
	text-decoration: none;
	color: black;
}

.month-number {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.day-button {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.day-button button {
	padding: 7px 50px;
	background: white;
	color: #354a58;
	border: none;
}

.day-button button:hover {
	padding: 7px 50px;
	background: #354a58;
	color: white;
	border: none;
}

.search input[type = text] {
	padding: 6px;
}

.search input[type = submit] {
	background: white;
	color: #354a58;
	border: none;
	padding: 7px;
}

.search input[type = submit]:hover {
	background: #354a58;
	color: white;
	border: none;
}
