.week-event {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.week-day {
    background-color: bisque;
    text-align: center;
}

.week-event {
    margin-top: 5px;
    background-color: cadetblue;
}

.events-container {
    width: 935px;
    margin: 3px auto;
}

.view-switch{
    width: 935px;
    margin: 0 auto;
    text-align: center;
    background-color: #957373;
}

.view-switch button {
    color: #2f302f;
}