<div *ngIf="dataReady">
  <app-calendar-header-week [weekInfo]="childData" (yearChanged)="yearChanged($event)"
                            (weekChanged)="weekChanged($event)" (searchInputed)="searchInputed()">
  </app-calendar-header-week>
  <div class="view-switch">
    <button (click)="viewChanged(true)">Month</button>
    <button (click)="viewChanged(false)">Week</button>
  </div>
  <div class="events-container">
    <div *ngFor="let day of daysObject">
      <div *ngIf="day.events && day.events.length" class="week-day">{{ day.dayDate}}</div>
      <div *ngFor="let event of day.events">
        <div class="week-event">
          <div class="event-title">{{ event.title }}</div>
          <div class="event-date">{{ event.startDate | date}}</div>
          <div class="event-location">{{ event.location }}</div>
          <div class="event-description">{{description}}</div>
        </div>
      </div>
    </div>
  </div>
</div>